@model Livro
<div class="row justify-content-md-center" onload="check_cadastroLivro()">
    <form asp-action="Cadastro" method="POST" class="col-md-4">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Titulo">Título</label>
            <input id="titulo_livro" asp-for="Titulo" class="form-control" oninput="check_cadastroLivro()" />
        </div>
        <div class="form-group">
            <label asp-for="Autor">Autor</label>
            <input id="autor_livro" asp-for="Autor" class="form-control" oninput="check_cadastroLivro()" />
        </div>
        <div>
            <label asp-for="Ano">Ano</label>
            <input id="ano_livro" asp-for="Ano" oninput="check_cadastroLivro()" />
        </div>
        <input id="submit_livro_cadastro" type="submit" value="Salvar" class="btn btn-primary" disabled />
    </form>
</div>
<script>
    window.onload = function () {
        console.log("Checagem de fórmulário...");

        var submit = document.getElementById("submit_livro_cadastro");
        var nome = document.getElementById("titulo_livro");
        var autor = document.getElementById("autor_livro");
        var ano = document.getElementById("ano_livro");

        if (nome.value == null && autor.value == null && ano.value == 0) {
            submit.disabled = true;
        }
        else {
            submit.disabled = false;
        }
    }
</script>
